src/com/mebigfatguy/ds/ds.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="container" type="ContainerType"/>
    
    <xsd:complexType name=""ContainerType"">
        <xsd:attribute name="type" type="xsd:string"/>
        <xsd:attribute name="name" type="xsd:string" optional="true"/>
    </xsd:complexType>

</xsd:schema>